/* Variables */

:root {
  --vote-color-yes: #537341;
  --vote-color-no: #733432;
  --vote-color-if-need-be: #D6B656;
  --vote-color-node: #666666;
}


/* Classes */

.danger-zone {
	border: 2px solid var(--lumo-error-color);
	background-color: var(--lumo-error-color-10pct);
	
}

.danger-zone-text {
	color: var(--lumo-error-text-color);
}

.details-no-left-padding::part(summary) {
	/* color: var(--vote-color-no);	*/
	padding-left: 0px;
}

.dialog-error {
	background-color: var(--lumo-error-color-10pct);
}

.warning-text {
	font-weight: bolder;
	color: var(--lumo-error-text-color);
}

.vote-count-inline{
	font-weight: bold;
	-webkit-text-stroke: .5px black;
}

.vote-count-inline-vote-image {
	width: 1em;
	height: 1em;
	vertical-align: -0.15em;
}

.vote-yes{
	color: var(--vote-color-yes);
}

.vote-no{
	color: var(--vote-color-no);
}

.vote-if-need-be{
	color: var(--vote-color-if-need-be);
}

.optionListBox {
	border: 1px solid var(--lumo-contrast-70pct);
	background: var(--lumo-contrast-5pct);
}

.optionListBox.potentialWinner {
	background-image: url('images/VoteIcons-CornerMarker.drawio.png');
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 5ex auto;
}

.optionListBox.losingOption {
	color: var(--lumo-tertiary-text-color); 
	border: 1px solid var(--lumo-contrast-50pct);
}

.optionListBox.winningOption {
	border: 3px solid var(--lumo-contrast-80pct);
	background: var(--lumo-contrast-10pct);
}

.toggle {
	cursor: pointer;
}

.primary-text {
	color: var(--lumo-primary-text-color);
}

.menu-pretext-icon {
	font-size: x-large;
}

.poll-option-form {
	border: 1px solid var(--lumo-contrast-80pct);
	background-color: var(--lumo-contrast-5pct);
	position: relative;
}

.poll-option-form-delete {
	border: 1px solid var(--lumo-error-text-color);
	background-color: var(--lumo-error-color-10pct);
	position: relative;
}

.poll-option-delete-overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--lumo-error-text-color);
	font-weight: bold;
	font-size: xx-large;
}

.text-box-button {
	border: 1px solid var(--lumo-contrast-90pct);
	border-radius: 15px;
	background-color: var(--lumo-contrast-5pct);
	cursor: pointer;
}

.text-box-button-text {
	cursor: pointer;
}

.text-box-button-text.title {
	font-size: large;
	font-weight: bold;
}

@media all and (max-width: 480px) {
  	.text-box-button-text.description {
		font-size: smaller;
	}
	
	.vanish-below-480px {
		display: none;
	}
}

@media all and (min-width: 800px) {
	.vanish-above-800px {
		display: none;
	}
	
	.title-wrapper {
		justify-content: center;
	}
}

@media all and (max-width: 800px) {
	.vanish-below-800px {
		display: none;
	}
	
	
	
	
}










