@import url('./main-layout.css');
@import url('./views/user-settings-view.css');
@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');

@media all and (max-width: 1100px) {
  .myPolls-view.poll-editing .toolbar,
  .myPolls-view.poll-editing .poll-grid {
    display: none;
  }
}

.optionListBox {
	border: 2px solid #1b2b41B0;
	background:  rgba(25, 59, 103, 0.05);
}

.optionListBox.potentialWinner {
	background-image: url('images/VoteIcons-CornerMarker.drawio.png');
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 5ex auto;
}